<ion-header>
  <ion-navbar>
    <ion-title>View Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item>
      
      <button ion-button (click)="goToCardsPage()">
        Art History 101, Exam 1
      </button>
        
    </ion-item>
    <ion-item>
      <button ion-button (click)="goToCardsPage()">
        Art History 101, Exam 2
      </button>
    </ion-item>
    <ion-item>
      
      <button ion-button (click)="goToCardsPage()">
        Theater 201, Exam 1
      </button>
        
    </ion-item>

  </ion-list>
</ion-content>
