<ion-header>
  <ion-navbar>
    <ion-title text-center>View Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf = "noStacks">
      <ion-label padding>You have no stacks!</ion-label>
    </ion-item>
    <ion-item *ngFor="let stack of stacks">
      
      <button ion-button block padding (click)="goToCardsPage(stack.stackid)">
        <div id="stack-button">
          {{stack.name}}
        </div>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
