<ion-header>
  <ion-navbar>
    <ion-title>View Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Available Card Sets</h2>
  <ion-list>
    
    <ion-item>
      <ion-card>
        <ion-card-title>
          The name of the card set will go here!
        </ion-card-title>
        <p>
          <button ion-button (click)="goToCardsPage()">
            View This Set
          </button>
        </p>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-title>
          The name of the second card set will go here!
        </ion-card-title>
        <p>
          <button ion-button (click)="goToCardsPage()">
            View This Set
          </button>
        </p>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>
