<ion-header>
  <ion-navbar>
    <ion-title>{{stacktitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="stackNotEmpty==false">
      <ion-label padding>This stack is empty!</ion-label>
  </ion-card>
  <ion-card *ngIf="stackNotEmpty">
    <!--<img src="../../assets/imgs/xbox-logo.jpg"/>-->
    <ion-card-content>
      <ion-label>{{cardNumber}} of {{totalCards}}</ion-label>
      <ion-grid>
        <ng-container *ngIf="frontSide">
          <img *ngIf="imageFront!=''" src={{imageFront}}>
          <ion-row justify-content-center>
              <p>{{front}}</p>
          </ion-row>
      </ng-container>
      <ng-container *ngIf="frontSide==false">\

        <img *ngIf="imageBack!=''" src={{imageBack}}>
        <ion-row justify-content-center>
            <p>{{back}}</p>
        </ion-row>
      </ng-container>
      <ion-row>
        <ion-col >
       <button *ngIf="cardNumber != 1" ion-button icon-only item-start block (click) = "decrementCard()">
         <ion-icon name="arrow-back"></ion-icon>
       </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-only center block (click)="toggleFrontBack()">
           <ion-icon name="code-download"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button *ngIf="cardNumber != totalCards" ion-button icon-only item-end block (click)="incrementCard()">
           <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
